<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-autowire="byName">
    <!--Instantiation with a constructor-->
    <bean id="exampleBean" class="com.baobaotao.web.IntBeans.ExampleBean"/>

    <bean name="anotherExample" class="com.baobaotao.web.IntBeans.ExampleBeanTwo"/>

    <!--Instantiation with a static factory method-->
    <bean id="clientService"
          class="com.baobaotao.web.IntBeans.ClientService"
          factory-method="createInstance"/>

    <!--Instantiation using an instance factory method-->
    <!-- the factory bean, which contains a method called createInstance() -->
    <bean id="serviceLocator" class="com.baobaotao.web.IntBeans.DefaultServiceLocator">
        <!-- inject any dependencies required by this locator bean -->
    </bean>
    <!-- the bean to be created via the factory bean -->
    <bean id="cliService"
          factory-bean="serviceLocator"
          factory-method="createClientServiceInstance"/>

</beans>
